language: node_js
node_js:
  - "lts/dubnium"
  - "lts/erbium"
  - "node"
matrix:
  fast_finish: true
  allow_failures:
    - node_js: 'node'
services:
  - docker
script:
  - |
      (
        docker run --name mongo-repl-test -p 27017:27017 -d mongo:4.2
      )
  - npm test
after_success:
  - npm run coverage
